<nav class="navbar navbar-expand-md navbar-dark bg-dark p-1">
    <a class="navbar-brand" href="#">Position Trainer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">Collapse</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="#">Collections</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Scraper</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
    </div>
</nav>